In [1]:
import pandas as pd
import numpy as np

In [2]:
promos = pd.read_csv ('../R_outputs/promoters.csv', )

In [3]:
promos

                            Sequence
0    TAGTTTAGTTTTATTGTCGACTTTTAATTAT
1    ATCAAATCGAAATAACAGCTGAAAATTAATA
2    TCTTAGGTAACTGGTGACAAATCTATCTCTT
3    AGAATACAATAGCAACGCAAGATCAACACAA
4    AGTTTTGACTACCTCAGAGAAAAATTTTGAA
..                               ...
152  GTATACCTAATATTATAGCCTTTATCAACAA
153  TTGGTTTTGTAGAGTGGTTGACGAATAATTA
154  TCCTGCTAATTTCCCACTAAATCTTTCCCCA
155  GTATACCTAATATTATAGCCTTTATCAACAA
156  AAAAGAATAATCAAGTAAATAAATTATCGGA

[157 rows x 1 columns]

In [4]:
alphabet_file = "./alphabet"
sparse_file = "./sparse"

In [5]:
# Change this to nucleotide sequences

def encode(nucleotides, encoding_scheme, alphabet):

    encoded_nucleotides = []

    for nucleotide in nucleotides:

        encoded_nucleotide = []

        for nucleotide_letter in nucleotide:

            for alphabet_letter in alphabet:

                encoded_nucleotide.append(encoding_scheme[nucleotide_letter][alphabet_letter])

        encoded_nucleotides.append(encoded_nucleotide)

    return np.array(encoded_nucleotides)

In [ ]:
# PCA